/* Start of CSS code  */
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color:#3d3d3d;
}

header {
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: #eb90ae;
}

header img {
width: auto;
height: 100px;
}

@media screen and (max-width: 430px) {
header > img {
  width: auto;
  height: 65px;
    }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Start of CSS code for pop up form */

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-column {
  flex: 1;
  margin-right: 10px;
}

.popup {
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    width: 100%;
    height: 100%;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    display: none;
    width: 100%;
    height: 100%;
    background-color:#ffffff;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
    text-align: left;
  }

  @media screen and (max-width: 430px) {
    .popup .popuptext {
      padding: 5%;
        }
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    display: block;
    border-bottom: 40px solid #ce5e83;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  .popup .hidden {
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
  }
  
  /* Add animations (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  @-webkit-keyframes fadeOut {
    from {opacity: 1;} 
    to {opacity: 0;}
  }
  
  @keyframes fadeOut {
    from {opacity: 1;}
    to {opacity:0 ;}
  }

  input, select {
    width:100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 2%;
    text-align: left;
    border: none;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
  }

  textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 2%;
    text-align: left;
    border: none;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
    font-family: Arial, Helvetica, sans-serif;
  }

    /* Codes for buttons in the form and main button to open pop up */

  .mainbutton {
    position: relative;
    width: 100%;
    display: block;
    border: none;
    box-sizing: border-box;
    background-color: #ce5e83;
    color: #ffffff;
    padding: 1em;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
}
.mainbutton :hover {
    color: #ffffff;
}

.submit, .reset {
    text-align: center;
    border: none;
    padding: 10px;
    width: 15%;
    background-color:#3d3d3d;
    color: #fff;
    box-sizing: border-box;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
  }

  .reset {
    background-color:#868686;
  }

 .submit:hover {
    background-color:#ce5e83;
  }
  .reset:hover {
    background-color:#ce5e83;
  }

  @media screen and (max-width: 430px) {
    .submit, .reset {
      font-size: 12px;
      box-sizing: border-box;
      width: 25%;
    }
    textarea, input, select {
      font-size: 12px;
    }
    .mainbutton {
      font-size: 12px;
    }
    
  }

      /* Bakery section and recipe display CSS code */

  .bakery {
    text-align: center;
    margin-top: 4%;
    padding-bottom: 10%;
  }

  .bakery h2 {
    color: #3d3d3d;
    font-size: 40px;
  }

   .hidden {  /* This code here hides the text under the Bakery heading */
    transition: visibility 0s 2s, opacity 2s linear;
    display: none;
  }

  @media screen and (max-width: 430px) {
    .bakery h2 {
      font-size: 25px;
        }
        .bakery p {
          font-size: 15px;
            }
        
  }

#recipelist {
  margin-left: 20%;
  margin-right: 20%;
  display: block;
  }

#recipelist section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 1em;
  padding-top: 2em;

}

#recipelist section p {
  margin-left: 1em;
  margin-right: 1em;

  text-align: left; 
  flex-grow: 1;
  flex-direction: row;
}

#recipelist section button {
  border: none;
  font-size: 20px;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  color:#fff;
  background-color: #868686;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.1);

}

#recipelist section button:hover{
  color:#fff;
  background-color: #eb90ae;

}

#recipelist section strong {
  font-size: 30px;
}

#recipelist section em {
  font-size: 20px;
  color:#ce5e83;
}

#recipelist section img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#recipelist aside #container {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}

#recipelist aside .list-container {
  flex: 1;
}

#recipelist aside #container ul {
  list-style-type: circle;
}

#recipelist aside .list {
  padding-left: 0;
}

@media screen and (max-width: 430px) {
  #recipelist {
    margin-left: 5%;
    margin-right: 5%;
    }

    #recipelist aside {
      font-size: 15px;
    }

    #recipelist section em {
      font-size: 20px;
    }

  #recipelist section p {
    font-size: 12px;
    margin-left: 0.5em;   
    margin-right: 0.5em;
    }
      #recipelist section p em {
        font-size: 15px;

        }

        #recipelist section p strong {
          font-size: 20px;
  
          }

          #recipelist aside #container {
            font-size: 12px;
          } 

      #recipelist section img {
        width: 100px;
        height: 100px;
      }

      #recipelist section button {
        font-size: 15px;
        width: 2em;
        height: 2em;

      }
      
}

